/* src/app/app.component.css */
.app-layout {
    /* display: flex; Ya no es necesario si el sidebar es fixed */
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; Puede que ya no sea necesario */
  }
  
  
  .main-content {
    /* flex-grow: 1; Ya no aplica igual */
    padding: 25px;
    overflow-y: auto;
    background-color: #f8f9fa;
    height: 100vh; /* Asegura que ocupe la altura */
    margin-left: 230px; 
    box-sizing: border-box; 
  }
  
