<div class="container">
  <h2>Diseño Gastos</h2>

  <div class="gastos-panel">
    <h3>Gestión de Gastos</h3>

    

    <div class="actions">
      <button class="nuevo-gasto" (click)="mostrarFormulario()">+ Nuevo Gasto</button>
    </div>


<!-- Formulario para nuevo gasto o editar un gasto -->
<div *ngIf="formVisible" class="formulario-gasto">
  <h4>{{ isEditing ? 'Editar Gasto' : 'Nuevo Gasto' }}</h4>
  <form (ngSubmit)="isEditing ? guardarEdicion() : addgastos()"> 
    
    <label for="usuario_id">Usuario</label>
<select [(ngModel)]="nuevoGasto.usuario_id" name="usuario_id" required>
  <option *ngFor="let usuario of usuarios" [value]="usuario.id">
    {{ usuario.nombre }}
  </option>
</select>

    
    <label for="categoria_id">Categoría</label>
<select [(ngModel)]="nuevoGasto.categoria_id" name="categoria_id" required>
  <option *ngFor="let categoria of categorias" [value]="categoria.id">
    {{ categoria.nombre }}
  </option>
</select>

    <label for="metodopago_id">Método de Pago</label>
    <select [(ngModel)]="nuevoGasto.metodopago_id" name="metodopago_id" required>
      <option *ngFor="let metodo of metodosPago" [value]="metodo.id">
        {{ metodo.nombre }}
      </option>
    </select>
    <label for="monto">Monto</label>
    <input type="number" [(ngModel)]="nuevoGasto.monto" name="monto" required />

    <label for="descripcion">Descripción</label>
    <textarea [(ngModel)]="nuevoGasto.descripcion" name="descripcion" required></textarea>

    <label for="fecha">Fecha</label>
    <input type="date" [(ngModel)]="nuevoGasto.fecha" name="fecha" required />

    <button class="btn-guardar" type="submit">{{ isEditing ? 'Actualizar Gasto' : 'Guardar Gasto' }}</button>
  </form>
</div>

<br>
<br>


    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Categoria</th>
          <th>Metodo de Pago</th>
          <th>MONTO</th>
          <th>Descripcion</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gasto of gastos">
          <td>{{ gasto.usuario_id }}</td>
          <td>{{ gasto.categoria_id }}</td>
          <td>{{ gasto.metodopago_id }}</td>
          <td>${{ gasto.monto }}</td>
          <td>{{ gasto.descripcion }}</td>
          <td>{{ gasto.fecha }}</td>
          <td>
            <button class="accion editar" (click)="updategasto(gasto)">✏️</button>
            <button (click)="deletegasto(gasto.id)"> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
