<!-- Mostrar el menú solo si el usuario está autenticado -->
<nav *ngIf="isAuthenticated">
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/tipodegasto">Gastos</a></li>
    <li><a routerLink="/ingresos">Ingresos</a></li>
    <li><button (click)="logout()">Cerrar sesión</button></li>
  </ul>
</nav>

<!-- Si no está autenticado, muestra el login y registro -->
<nav *ngIf="!isAuthenticated">
  <ul>
    <li><a routerLink="/login">Iniciar sesión</a></li>
    <li><a routerLink="/register">Registrar</a></li>
    
  </ul>
</nav>